.card{
    width: 325px;
    height: 328px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 30px;

}

.card__title{
    position: absolute;
    top: 15px;
    margin: 0;
   
}

.card__image{
    width: 100%;
    object-fit: cover;
}