.weather__card{
    height: 80px;
    overflow: hidden;
    border-radius: 12px;
    margin-left: 30px;
}
.weather-card__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    }

.weather__card-temp{
    position: absolute;
    bottom: 20px;
    left: 16px;
    font-size: 36px;

}