.weather__card{
    height: 80px;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}
.weather-card__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right top;
    }

.weather__card-temp{
    position: absolute;
    bottom: -10px;
    left: 16px;
    font-size: 36px;
    line-height: 1.1;
   color: white;
}