.header{
    display: flex;
    justify-content: space-between;
    text-align: left;
  
}

.header__side{
    display: flex;
    align-items:center;
   
   
 
}
.header__logo{
    margin-right: 24px;


}
.header__add-clothes-btn{

    height: 24px;
    width: 116px;  
    background-color: white;
    border: none;



}
.header__username{
   
    width: 157px;
    height: 25px;
  margin-top: 16px;
    



}

.header__avatar{
 
    width: 40px;
    height: 40px;
    margin-left: 0px;
    border-radius: 1px;
    margin-top: 16px;


}