.header{
    display: flex;
}
.heager__logo{
    margin-right: 24px;
    margin-left: 30px;
}
.header__add-clothes-btn{
    margin-left: auto;
    margin-right: 20px;
    height: 24px;
    width: 116px;
    margin-top: 16px;
    background-color: white;
    border: none;
}
.header__username{
    margin-right: 12px;
}