.modal{
     font-family: "Cabinet Grotesk", sans-serif;
     font-weight: 700;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    }

.modal_is-opened{
    visibility: visible;
    opacity: 1;

}




.modal__image{
display: block;
}

.modal__container{
    position: relative;
    border-radius: 16px;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    padding: 30px;
}


.modal__close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
}

.modal__footer{
    background-color: #fff;
}

.modal__text{
    margin: 0;
}

/* Form Style */
.modal__title{
color: black;
margin-top: 0;

}

.modal__container_type_form{
width: 100%;
max-width: 496px;
background-color: #fff;
padding: 28px 28px 36px;
text-align: left;
}


.modal__fieldset{
    margin: 0;
    padding: 0;
    border: none;

}

.modal__input{
    display: block;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #000;
 
}

.modal__label{
    width: 440px;
    height: 52px;
    margin-top: 50px;
}