.clothes-section__row{
    display: flex;
    gap: 20px;
}

.clothes-section__card-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



