@import url(./vendor/normalize.css);
@import url(./vendor/Fonts/Fonts.css.css);
@import url(./components/Footer/Footer.css);
@import url(./components/ModalWithForm/ModalWithForm.css);
@import url(./components/SideBar/SideBar.css);